# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/

# Local cache & temp files
.vite/
extracted_menu/
client_media/
/cardapio-oficial.pdf
*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
